<?xml version="1.0"?>
<config>
    <modules>
        <MM_PixelManager>
            <version>0.1.0</version>
        </MM_PixelManager>
    </modules>
    <global>
        <blocks>
            <mm_pixelmanager>
                <class>MM_PixelManager_Block</class>
            </mm_pixelmanager>
            <page>
                <rewrite>
                    <html_head>MM_PixelManager_Block_Page_Html_Head</html_head>
                    <html_footer>MM_PixelManager_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
            <core>
                <rewrite>
                    <text_list>MM_PixelManager_Block_Core_Text_List</text_list>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <mm_pixelmanager>
                <class>MM_PixelManager_Helper</class>
            </mm_pixelmanager>
        </helpers>
        <models>
            <mm_pixelmanager>
                <class>MM_PixelManager_Model</class>
                <resourceModel>mm_pixelmanager_resource</resourceModel>
            </mm_pixelmanager>
            <mm_pixelmanager_resource>
                <class>MM_PixelManager_Model_Resource</class>
                <entities>
                    <pixel>
                        <table>pixel</table>
                    </pixel>
                </entities>
            </mm_pixelmanager_resource>
        </models>
        <resources>
            <pixelmanager_setup>
                <setup>
                    <module>MM_PixelManager</module>
                </setup>
            </pixelmanager_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mm_pixelmanager before="Mage_Adminhtml">MM_PixelManager_Adminhtml</mm_pixelmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>